body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #e2e2e2;
    font-family: play,sans-serif;
    background: #1c1e20;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

p {
  color: white;
}

.BottomMenu_box {
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    margin: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 80px;
    background: rgba(49,49,49,.5);
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 16px;
}

.BottomMenu_icon {
    width: 56px;
    height: 56px;
    margin: 0 8px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #151719;
}

.MainScreen_wrapper {
  height: 100vh;
  background: #1c1e20;
  overflow: hidden;
}

.Rules_wrapper__1qE9t {
  background: #121212;
  width: 100vw;
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: auto;
  font-family: Verdana,Geneva,sans-serif;
}

.Rules_pageWrapper__3V1lj {
  display: flex;
  flex-direction: row;
}

.Rules_menu__2_WgX {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 20%;
  height: calc(100vh - 65px);
  background: #1c1e20;
  padding: 24px;
}

.Rules_globalLink__35Ctr {
  font-size: 28px;
  cursor: pointer;
  color: #6f3e8e;
  margin-left: 8px;
  padding: 4px 0;
}

.Rules_menuBigLink__99AZ4 {
  font-size: 24px;
  cursor: pointer;
  margin-left: 16px;
  padding: 4px 0;
}

.Rules_menuLink__1RTic {
  cursor: pointer;
  font-size: 18px;
  opacity: .7;
  margin-left: 32px;
  padding: 2px 0;
}

.Rules_rulesBox__1O7f0 {
  margin-left: 20%;
  width: 80%;
  padding: 64px;
}

.Rules_headerBig__2PIHq {
  font-size: 28px;
  color: #6f3e8e;
}

.Rules_textBox__3CgRg {
  font-size: 18px;
  padding: 16px;
}

.Rules_header__2QK08 {
  font-size: 24px;
}

.Rules_textBoxWithOffset__1kLwz {
  margin-left: 16px;
  font-size: 18px;
  padding: 16px;
}

.DragComponent_wrapper__3yvLM {
  background: #232323;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgb(0 0 0 / 25%);
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: auto;
}

.DragComponent_header__2JaBu {
  width: 100%;
  justify-content: space-between;
  font-size: 16px;
  background: #1c1e20;
  border-bottom: 15px solid #151719;
}

.DragComponent_headerTextBox__3Kcbh {
  background: #151719;
  padding: 0 8px;
  text-align: center;
  line-height: 30px;
}

.DragComponent_icons__2hbyY {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.DragComponent_header__2JaBu, .DragComponent_headerTextBox__3Kcbh {
  height: 30px;
  display: flex;
  align-items: center;
  color: #e2e2e2;
  border-radius: 5px 5px 0 0;
}